@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200, 20%, 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 200, 20%, 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 200, 20%, 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 0, 0%, 100%;
    --primary-foreground: 210 20% 98%;
    --secondary: 165, 30.8%, 40.8%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 165, 30.8%, 40.8%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 160, 51%, 82%; /* cor de fundo dos icones */
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 0, 0%, 100%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0, 0%, 17.2%;
    --foreground: 210 20% 98%;
    --card: 0, 0%, 17.2%;
    --card-foreground: 210 20% 98%;
    --popover: 0, 0%, 17.2%;
    --popover-foreground: 210 20% 98%;
    --primary: 330, 30%, 51%;
    --primary-foreground: 210 20% 98%;
    --secondary: 165, 30.8%, 40.8%;
    --secondary-foreground: 210 20% 98%;
    --muted: 165, 30.8%, 40.8%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 120, 33%, 9%; /* cor de fundo dos icones */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 165, 30.8%, 40.8%;
    --input: 165, 30.8%, 40.8%;
    --ring: 330, 30%, 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-width: 360px;
}

.container2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px) {
  .container2 {
    max-width: 1400px;
  }
}

@media (min-width: 1400px) {
  .container3 {
    max-width: 2800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) {
  .container4 {
    max-width: 1400px;
    margin-left: auto;
  }
}

.w-97 {
  width: 27rem /* 384px */;
}

.sticky-container {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar2 {
  position: fixed;
  top: 32px;
  width: 100%;
  z-index: 1;
}

@keyframes explode {
  0% {
    left: 40%;
    width: 20%;
    transform: scale(1); /* Define o tamanho inicial */
  }
  50% {
    left: 5%; /* Ajustado para expandir até 90% */
    width: 90%;
    transform: scale(1.1); /* Aumenta o tamanho em 10% no meio da animação */
  }
  100% {
    left: 15%;
    width: 70%;
    transform: scale(1); /* Retorna ao tamanho inicial no final da animação */
  }
}

.underline-active {
  position: relative;
  display: inline-block;
}

.underline-active::after {
  content: '';
  position: absolute;
  left: 50%; /* Começa no centro */
  width: 0; /* Começa sem nada */
  height: 3px; /* Diminui a altura para criar um efeito de pílula mais fino */
  bottom: -1px; /* Aumenta o espaço entre a linha e o texto */
  background: currentColor;
  border-radius: 10px; /* Ajusta o border-radius para metade da altura */
  animation: explode 0.6s ease-out forwards; /* Adiciona a animação */
}
